<footer id="foot" class="footer bg-dark py-3 mt-auto">
    <div class="container text-muted">
        <span>&copy; YelpCamp 2020</span>  <a href="/campgrounds">All campgrounds</a>
    </div>
</footer>